<launch>

  <arg name="robot_model"                       default="locobot_wx200"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="use_lidar"                         default="true"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="false"/>
  <arg name="use_camera"                        default="true"/>
  <arg name="dof"                               default="5"/>
  <arg name="localization"                      default="false"/>
  <arg name="rtabmap_args"                      default=""/>

  <include file="$(find interbotix_xslocobot_control)/launch/xslocobot_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="use_lidar"                         value="$(arg use_lidar)"/>
    <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
    <arg name="use_rviz"                          value="$(arg use_rviz)"/>
    <arg name="rviz_frame"                        value="map"/>
    <arg name="use_camera"                        value="$(arg use_camera)"/>
    <arg name="use_base"                          value="true"/>
  </include>

  <group ns="$(arg robot_name)/rtabmap">

    <!-- Use RGBD synchronization -->
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_ros/rgbd_sync /$(arg robot_name)/camera/realsense2_camera_manager" output="screen">
      <remap from="rgb/image"       to="/$(arg robot_name)/camera/color/image_raw"/>
      <remap from="depth/image"     to="/$(arg robot_name)/camera/aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="/$(arg robot_name)/camera/color/camera_info"/>
      <remap from="rgbd_image"      to="/$(arg robot_name)/camera/rgbd_image"/>
      <param name="approx_sync"     value="false"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
      <param name="frame_id"        type="string" value="$(arg robot_name)/base_footprint"/>
      <param name="subscribe_depth" type="bool"   value="false"/>
      <param name="subscribe_rgb"   type="bool"   value="false"/>
      <param name="subscribe_rgbd"  type="bool"   value="true"/>
      <param name="subscribe_scan"  type="bool"   value="$(arg use_lidar)"/>
      <param name="odom_frame_id"                 value="$(arg robot_name)/odom"/>
      <param name="approx_sync"                   value="true"/>
      <remap from="scan" to="/$(arg robot_name)/scan"/>
      <remap from="rgbd_image" to="/$(arg robot_name)/camera/rgbd_image"/>

      <!-- RTAB-Map's parameters -->
      <!-- <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
      <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
      <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
      <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
      <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/> -->
      <param name="Reg/Force3DoF"             type="string" value="true"/>
      <!-- <param name="Reg/Strategy"              type="string" value="1"/> -->
      <param     if="$(arg use_lidar)" name="Grid/FromDepth" type="string" value="false"/>
      <param unless="$(arg use_lidar)" name="Grid/FromDepth" type="string" value="true"/>

      <!-- ICP parameters -->
      <!-- <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
      <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/> -->

      <!-- Localization -->
      <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
      <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
      <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
    </node>
  </group>

</launch>
