<launch>

  <arg name="robot_model"                       default="locobot_wx200"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="use_lidar"                         default="true"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="false"/>
  <arg name="use_rtabmapviz"                    default="false"/>
  <arg name="use_camera"                        default="true"/>
  <arg name="dof"                               default="5"/>
  <arg name="localization"                      default="false"/>
  <arg name="rtabmap_args"                      default=""/>

  <arg     if="$(arg use_lidar)" name="rtabmap_default_args" default="$(arg rtabmap_args)
                                                                      --RGBD/NeighborLinkRefining true
                                                                      --RGBD/ProximityBySpace true
                                                                      --RGBD/ProximityPathMaxNeighbors 10
                                                                      --RGBD/AngularUpdate 0.01
                                                                      --RGBD/LinearUpdate 0.01
                                                                      --RGBD/OptimizeFromGraphEnd false
                                                                      --Grid/FromDepth false
                                                                      --Reg/Force3DoF true
                                                                      --Reg/Strategy 1
                                                                      --Icp/VoxelSize 0.05
                                                                      --Icp/MaxCorrespondenceDistance 0.1"/>

  <arg unless="$(arg use_lidar)" name="rtabmap_default_args" default="$(arg rtabmap_args)
                                                                      --RGBD/AngularUpdate 0.01
                                                                      --RGBD/LinearUpdate 0.01
                                                                      --RGBD/OptimizeFromGraphEnd false
                                                                      --Grid/FromDepth true
                                                                      --Reg/Force3DoF true"/>

  <include file="$(find interbotix_xslocobot_control)/launch/xslocobot_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="use_lidar"                         value="$(arg use_lidar)"/>
    <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
    <arg name="use_rviz"                          value="$(arg use_rviz)"/>
    <arg name="rviz_frame"                        value="map"/>
    <arg name="use_camera"                        value="$(arg use_camera)"/>
    <arg name="filters"                           value="pointcloud"/>
    <arg name="use_base"                          value="true"/>
  </include>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch" ns="$(arg robot_name)">
    <arg name="rtabmapviz"                        value="$(arg use_rtabmapviz)"/>
    <arg name="localization"                      value="$(arg localization)"/>
    <arg name="frame_id"                          value="$(arg robot_name)/base_footprint"/>
    <arg name="odom_frame_id"                     value="$(arg robot_name)/odom"/>
    <arg name="map_frame_id"                      value="map"/>
    <arg name="args"		                          value="$(arg rtabmap_default_args)"/>
    <arg name="rgb_topic"                         value="/$(arg robot_name)/camera/color/image_raw"/>
    <arg name="depth_topic"                       value="/$(arg robot_name)/camera/aligned_depth_to_color/image_raw"/>
    <arg name="camera_info_topic"                 value="/$(arg robot_name)/camera/color/camera_info"/>
    <arg name="depth_camera_info_topic"           value="/$(arg robot_name)/camera/depth/camera_info"/>
    <arg name="subscribe_scan"                    value="$(arg use_lidar)"/>
    <arg name="scan_topic"                        value="/$(arg robot_name)/scan"/>
    <arg name="visual_odometry"                   value="false"/>
    <arg name="imu_topic"                         value="/$(arg robot_name)/imu/data"/>
    <arg name="gps_topic"                         value="/$(arg robot_name)/gps/fix"/>
    <arg name="user_data_async_topic"             value="/$(arg robot_name)/user_data_async"/>
  </include>

  <node
    pkg="move_base"
    type="move_base"
    respawn="false"
    name="move_base"
    output="screen"
    ns="$(arg robot_name)">
    <rosparam file="$(find interbotix_xslocobot_nav)/config/common_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find interbotix_xslocobot_nav)/config/common_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find interbotix_xslocobot_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find interbotix_xslocobot_nav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find interbotix_xslocobot_nav)/config/local_planner_params.yaml" command="load" />
    <rosparam file="$(find interbotix_xslocobot_nav)/config/move_base_params.yaml" command="load" />
    <!-- <rosparam file="$(find interbotix_xslocobot_nav)/config/global_planner_params.yaml" command="load" /> -->
    <!-- <rosparam file="$(find interbotix_xslocobot_nav)/config/navfn_global_planner_params.yaml" command="load" /> -->
    <!-- external params file that could be loaded into the move_base namespace -->
    <!-- <rosparam file="$(arg custom_param_file)" command="load" /> -->

    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/robot_base_frame" value="$(arg robot_name)/base_footprint"/>
    <param unless="$(arg use_lidar)" name="global_costmap/observation_sources" value="d435"/>
    <param name="local_costmap/global_frame" value="$(arg robot_name)/odom"/>
    <param name="local_costmap/robot_base_frame" value="$(arg robot_name)/base_footprint"/>
    <param unless="$(arg use_lidar)" name="local_costmap/observation_sources" value="d435"/>

    <remap from="cmd_vel" to="mobile_base/commands/velocity"/>
    <remap from="map" to="rtabmap/grid_map"/>
  </node>

  <!-- Run a passthrough filter to get rid of the ground -->
  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough realsense2_camera_manager" output="screen" ns="$(arg robot_name)/camera">
    <remap from="~input" to="depth/color/points"/>
    <remap from="~output" to="depth/color/points/filtered"/>
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 0.7
      filter_limit_negative: False
    </rosparam>
  </node>

</launch>
